  <h2>2026-03-02 — Vantage Point Release Rules Text Update</h2>

    <div class="row">
        <div class="col-sm-12">
        <h2>Afterimage</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Once per turn → When you encounter a <strong>sentry</strong>, you may pay 2[credit] to bypass it. Use this ability only by spending credits from <strong>stealth</strong> cards.<span class="break"></span>Interface → <strong>1[credit]:</strong> Break up to 2 <strong>sentry</strong> subroutines.<span class="break"></span><strong>1[credit]:</strong> +2 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Once per turn → When you encounter a <strong>sentry</strong>, you may pay 2[credit] to bypass it. Spend credits only from <strong>stealth</strong> cards to use this ability.<span class="break"></span>Interface → <strong>1[credit]:</strong> Break up to 2 <strong>sentry</strong> subroutines.<span class="break"></span><strong>1[credit]:</strong> +2 strength. Spend credits only from <strong>stealth</strong> cards to use this ability.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Once per turn → When you encounter a sentry, you may pay 2[credit] to bypass it. </span><del>Use this ability only by s</del><ins>S</ins><span>pend</span><del>ing</del><span> credits </span><ins>only </ins><span>from stealth cards</span><ins> to use this ability</ins><span>.<span class="break"></span>Interface → 1[credit]: Break up to 2 sentry subroutines.<span class="break"></span>1[credit]: +2 strength. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Ashigaru</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Ashigaru gains "[subroutine] End the run." for each card in HQ.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This ice gains "[subroutine] End the run." for each card in HQ.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Ashigaru</del><ins>This ice</ins><span> gains "[subroutine] End the run." for each card in HQ.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Awakening Center</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Awakening Center can host <strong>bioroid</strong> ice (each piece is installed facedown, ignoring all install costs).<span class="break"></span>Whenever the Runner passes all of the ice protecting this server, you may rez a piece of ice on Awakening Center, lowering the rez cost by 7[credit], to force the Runner to encounter it. Trash that ice after the run is completed.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can install <strong>bioroid</strong> ice onto this upgrade at no install cost.<span class="break"></span>Whenever the Runner passes all of the ice protecting this server, you may rez 1 hosted piece of ice, paying 7[credit] less. If you do, the Runner encounters that ice. When this run ends, trash that ice.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Awakening Center can host bioroid ice (each piece is installed facedown, ignoring all</del><ins>You can install bioroid ice onto this upgrade at no</ins><span> install cost</span><del>s)</del><span>.<span class="break"></span>Whenever the Runner passes all of the ice protecting this server, you may rez </span><del>a</del><ins>1 hosted</ins><span> piece of ice</span><del> on Awakening Center, lowering the rez cost by 7[credit], to force</del><ins>, paying 7[credit] less. If you do,</ins><span> the Runner </span><del>to </del><span>encounter</span><del> it. Trash</del><ins>s</ins><span> that ice</span><del> after</del><ins>. When</ins><span> th</span><del>e</del><ins>is</ins><span> run </span><del>is completed</del><ins>ends, trash that ice</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Blackmail</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Play only if the Corp has at least 1 bad publicity.<span class="break"></span>Make a run. The Corp cannot rez ice for the duration of this run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Play only if the Corp has at least 1 bad publicity.<span class="break"></span>Run any server. The Corp cannot rez ice during that run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Play only if the Corp has at least 1 bad publicity.<span class="break"></span></span><del>Make a run</del><ins>Run any server</ins><span>. The Corp cannot rez ice </span><del>for the duration of</del><ins>during</ins><span> th</span><del>is</del><ins>at</ins><span> run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Blockchain</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Blockchain gains "[subroutine] The Corp gains 1[credit] and the Runner loses 1[credit]." before all its other subroutines for every 2 faceup <strong>transaction</strong> operations in Archives.<span class="break"></span>[subroutine] The Corp gains 1[credit] and the Runner loses 1[credit].<span class="break"></span>[subroutine] End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This ice gains "[subroutine] Gain 1[credit] and the Runner loses 1[credit]." before its other subroutines for every 2 faceup <strong>transaction</strong> operations in Archives.<span class="break"></span>[subroutine] Gain 1[credit] and the Runner loses 1[credit].<span class="break"></span>[subroutine] End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Blockchain</del><ins>This ice</ins><span> gains "[subroutine] </span><del>The Corp g</del><ins>G</ins><span>ain</span><del>s</del><span> 1[credit] and the Runner loses 1[credit]." before </span><del>all </del><span>its other subroutines for every 2 faceup transaction operations in Archives.<span class="break"></span>[subroutine] </span><del>The Corp g</del><ins>G</ins><span>ain</span><del>s</del><span> 1[credit] and the Runner loses 1[credit].<span class="break"></span>[subroutine] End the run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Bulwark</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>When the Runner encounters this ice, gain 2[credit] if there is an installed <strong>AI</strong> program.<span class="break"></span>[subroutine] The Runner trashes 1 installed program.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>When the Runner encounters this ice, if there is an installed <strong>AI</strong> program, gain 2[credit].<span class="break"></span>[subroutine] The Runner trashes 1 installed program.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez this ice, take 1 bad publicity.<span class="break"></span>When the Runner encounters this ice,</span><del> gain 2[credit]</del><span> if there is an installed AI program</span><ins>, gain 2[credit]</ins><span>.<span class="break"></span>[subroutine] The Runner trashes 1 installed program.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.<span class="break"></span>[subroutine] Gain 2[credit]. End the run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Checkpoint</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Checkpoint, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[5]. If successful, do 3 meat damage when this run is successful.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[5]. If successful, do 3 meat damage when this run becomes successful.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Checkpoint</del><ins>this ice</ins><span>, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[5]. If successful, do 3 meat damage when this run </span><del>i</del><ins>become</ins><span>s successful.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Clone Retirement</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Clone Retirement, you may remove 1 bad publicity.<span class="break"></span>When the Runner steals Clone Retirement, the Corp takes 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, you may remove 1 bad publicity.<span class="break"></span>When the Runner steals this agenda, take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Clone Retirement</del><ins>this agenda</ins><span>, you may remove 1 bad publicity.<span class="break"></span>When the Runner steals </span><del>Clone Retirement, the Corp</del><ins>this agenda,</ins><span> take</span><del>s</del><span> 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Corporate Scandal</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>This card is not trashed until another <strong>current</strong> is played or an agenda is scored.<span class="break"></span>The Corp has 1 additional bad publicity (even if they have 0).</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This event is not trashed until another <strong>current</strong> is played or an agenda is scored.<span class="break"></span>The Corp is considered to have 1 additional bad publicity <em>(even if they had no bad publicity)</em>.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>This </span><del>card</del><ins>event</ins><span> is not trashed until another current is played or an agenda is scored.<span class="break"></span>The Corp </span><del>has</del><ins>is considered to have</ins><span> 1 additional bad publicity (even if they ha</span><del>ve 0</del><ins>d no bad publicity</ins><span>).</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Dagger</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>sentry</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +5 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>sentry</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +5 strength. Spend credits only from <strong>stealth</strong> cards to use this ability.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Interface → 1[credit]: Break 1 sentry subroutine.<span class="break"></span>1[credit]: +5 strength. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Dai V</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Interface → <strong>2[credit]:</strong> Break all subroutines. Use this ability only by spending credits from <strong>stealth</strong> cards.<span class="break"></span><strong>1[credit]:</strong> +1 strength.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Interface → <strong>2[credit]:</strong> Break all subroutines. Spend credits only from <strong>stealth</strong> cards to use this ability.<span class="break"></span><strong>1[credit]:</strong> +1 strength.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Interface → 2[credit]: Break all subroutines. </span><del>Use this ability only by s</del><ins>S</ins><span>pend</span><del>ing</del><span> credits </span><ins>only </ins><span>from stealth cards</span><ins> to use this ability</ins><span>.<span class="break"></span>1[credit]: +1 strength.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Data Breach</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Make a run on R&D. If successful, you may make another run on R&D when this run ends.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Run R&D. If successful, when that run ends, you may run R&D again.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Make a run o</del><ins>Ru</ins><span>n R&amp;D. If successful, </span><del>you may make another run on R&amp;D when this run ends</del><ins>when that run ends, you may run R&amp;D again</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Diana's Hunt</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Make a run. Whenever you encounter a piece of ice during this run, you may install a program from your grip, ignoring all costs. When this run ends, trash all programs installed using Diana's Hunt.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Run any server. Whenever you encounter a piece of ice during that run, you may install 1 program from your grip, ignoring all costs. When that run ends, trash all programs installed this way.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Make a run</del><ins>Run any server</ins><span>. Whenever you encounter a piece of ice during th</span><del>is</del><ins>at</ins><span> run, you may install </span><del>a</del><ins>1</ins><span> program from your grip, ignoring all costs. When th</span><del>is</del><ins>at</ins><span> run ends, trash all programs installed </span><del>using Diana's Hunt</del><ins>this way</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Elizabeth Mills</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Elizabeth Mills, remove 1 bad publicity.<span class="break"></span>[click], [trash]: Trash 1 <strong>location</strong>. Take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this asset, remove 1 bad publicity.<span class="break"></span>[click], [trash]<strong>:</strong> Trash 1 installed <strong>location</strong> resource. Take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Elizabeth Mills</del><ins>this asset</ins><span>, remove 1 bad publicity.<span class="break"></span>[click], [trash]: Trash 1 </span><del>location</del><ins>installed location resource</ins><span>. Take 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Envelopment</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez this ice, place 4 power counters on it.<span class="break"></span>When your turn begins, remove 1 hosted power counter.<span class="break"></span>This ice gains "[subroutine] End the run." before its printed subroutine for each hosted power counter.<span class="break"></span>[subroutine] Trash this ice.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, place 4 power counters on it.<span class="break"></span>When your turn begins, remove 1 hosted power counter.<span class="break"></span>This ice gains "[subroutine] End the run." before its other subroutines for each hosted power counter.<span class="break"></span>[subroutine] Trash this ice.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez this ice, place 4 power counters on it.<span class="break"></span>When your turn begins, remove 1 hosted power counter.<span class="break"></span>This ice gains "[subroutine] End the run." before its </span><del>printed</del><ins>other</ins><span> subroutine</span><ins>s</ins><span> for each hosted power counter.<span class="break"></span>[subroutine] Trash this ice.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Exposé</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Exposé can be advanced.<span class="break"></span>[trash]: Remove 1 bad publicity for each advancement token on Exposé.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can advance this asset.<span class="break"></span>[trash]<strong>:</strong> Remove 1 bad publicity for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Exposé</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d</del><ins> this asset</ins><span>.<span class="break"></span>[trash]: Remove 1 bad publicity for each </span><ins>hosted </ins><span>advancement </span><del>token on Exposé</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Frame Job</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>As an additional cost to play this event, spend [click].<span class="break"></span>Forfeit an agenda. If you do, give the Corp 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>As an additional cost to play this event, spend [click].<span class="break"></span>Forfeit 1 agenda. If you do, give the Corp 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>As an additional cost to play this event, spend [click].<span class="break"></span>Forfeit </span><del>an</del><ins>1</ins><span> agenda. If you do, give the Corp 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Galahad</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When the Runner encounters Galahad, you may reveal up to 2 <strong>grail</strong> ice from HQ. For the remainder of this run, Galahad gains the subroutines of the revealed ice in the order of your choice.<span class="break"></span>[subroutine] End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When the Runner encounters this ice, you may reveal up to 2 pieces of <strong>grail</strong> ice in HQ. For the remainder of this run, this ice gains the subroutines of each revealed piece of ice in the order of your choice.<span class="break"></span>[subroutine] End the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When the Runner encounters </span><del>Galahad</del><ins>this ice</ins><span>, you may reveal up to 2 </span><ins>pieces of </ins><span>grail ice </span><del>from</del><ins>in</ins><span> HQ. For the remainder of this run, </span><del>Galahad</del><ins>this ice</ins><span> gains the subroutines of </span><del>the</del><ins>each</ins><span> revealed </span><ins>piece of </ins><span>ice in the order of your choice.<span class="break"></span>[subroutine] End the run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Geothermal Fracking</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Place 2 agenda counters on Geothermal Fracking when you score it.<span class="break"></span>[click], <strong>hosted agenda counter:</strong> Gain 7[credit] and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, place 2 agenda counters on it.<span class="break"></span>[click], <strong>hosted agenda counter:</strong> Gain 7[credit] and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Place 2 agenda counters on Geothermal Fracking when you score</del><ins>When you score this agenda, place 2 agenda counters on</ins><span> it.<span class="break"></span>[click], hosted agenda counter: Gain 7[credit] and take 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Grim</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Grim, take 1 bad publicity.<span class="break"></span>[subroutine] Trash 1 program.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>[subroutine] Trash 1 installed program.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Grim</del><ins>this ice</ins><span>, take 1 bad publicity.<span class="break"></span>[subroutine] Trash 1 </span><ins>installed </ins><span>program.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Howler</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>[subroutine] You may install and rez a piece of <strong>bioroid</strong> ice from HQ or Archives, ignoring all costs, placing it directly behind Howler. If you do, derez that piece of ice and trash Howler after the run is completed.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>[subroutine] You may install and rez 1 piece of <strong>bioroid</strong> ice from HQ or Archives directly inward from this ice, ignoring all costs. When this run ends, if you installed a piece of ice this way, trash this ice and derez the ice you installed.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>[subroutine] You may install and rez </span><del>a</del><ins>1</ins><span> piece of bioroid ice from HQ or Archives</span><del>, ignoring all costs, placing it directly behind Howler. If you do, derez that piece of ice and trash Howler after the run is complet</del><ins> directly inward from this ice, ignoring all costs. When this run ends, if you installed a piece of ice this way, trash this ice and derez the ice you install</ins><span>ed.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Illegal Arms Factory</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>If the Runner trashes Illegal Arms Factory while it is installed, take 1 bad publicity.<span class="break"></span>When your turn begins, gain 1[credit] and draw 1 card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When your turn begins, gain 1[credit] and draw 1 card.<span class="break"></span>When the Runner trashes this asset <em>(while it is rezzed)</em>, take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>If the Runner trashes Illegal Arms Factory while it is installed, take 1 bad publicity.<span class="break"></span>When your turn begins, gain 1[credit] and draw 1 card</del><ins>When your turn begins, gain 1[credit] and draw 1 card.<span class="break"></span>When the Runner trashes this asset (while it is rezzed), take 1 bad publicity</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Illicit Sales</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Illicit Sales, you may take 1 bad publicity. Gain 3[credit] for each bad publicity that you have.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, you may take 1 bad publicity. Gain 3[credit] for each bad publicity you have.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Illicit Sales</del><ins>this agenda</ins><span>, you may take 1 bad publicity. Gain 3[credit] for each bad publicity </span><del>that </del><span>you have.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Investigative Journalism</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Install only if the Corp has at least 1 bad publicity.<span class="break"></span>[click],[click],[click],[click],[trash]: Give the Corp 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Install only if the Corp has at least 1 bad publicity.<span class="break"></span>[click][click][click][click], [trash]<strong>:</strong> Give the Corp 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Install only if the Corp has at least 1 bad publicity.<span class="break"></span>[click]</span><del>,</del><span>[click]</span><del>,</del><span>[click]</span><del>,</del><span>[click],</span><ins> </ins><span>[trash]: Give the Corp 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Ireress</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Ireress gains "[subroutine] The Runner loses 1[credit]" for each bad publicity you have.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This ice gains "[subroutine] The Runner loses 1[credit]." for each bad publicity you have.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Ireress</del><ins>This ice</ins><span> gains "[subroutine] The Runner loses 1[credit]</span><ins>.</ins><span>" for each bad publicity you have.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Itinerant Protesters</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>This event is not trashed until another <strong>current</strong> is played or an agenda is scored.<span class="break"></span>The Corp gets -1 maximum hand size for each bad publicity they have.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This event is not trashed until another <strong>current</strong> is played or an agenda is scored.<span class="break"></span>The Corp gets −1 maximum hand size for each bad publicity they have.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>This event is not trashed until another current is played or an agenda is scored.<span class="break"></span>The Corp gets </span><del>-</del><ins>−</ins><span>1 maximum hand size for each bad publicity they have.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Lancelot</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When the Runner encounters Lancelot, you may reveal up to 2 <strong>grail</strong> ice from HQ. For the remainder of this run, Lancelot gains the subroutines of the revealed ice in the order of your choice.<span class="break"></span>[subroutine] Trash 1 program.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When the Runner encounters this ice, you may reveal up to 2 pieces of <strong>grail</strong> ice in HQ. For the remainder of this run, this ice gains the subroutines of each revealed piece of ice in the order of your choice.<span class="break"></span>[subroutine] Trash 1 installed program.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When the Runner encounters </span><del>Lancelot</del><ins>this ice</ins><span>, you may reveal up to 2 </span><ins>pieces of </ins><span>grail ice </span><del>from</del><ins>in</ins><span> HQ. For the remainder of this run, </span><del>Lancelot</del><ins>this ice</ins><span> gains the subroutines of </span><del>the</del><ins>each</ins><span> revealed </span><ins>piece of </ins><span>ice in the order of your choice.<span class="break"></span>[subroutine] Trash 1 </span><ins>installed </ins><span>program.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Loki</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When the Runner encounters this ice, choose another rezzed piece of ice. For the remainder of this run, this ice gains the subtypes of the chosen ice and gains the subroutines of that ice in order before all its other subroutines.<span class="break"></span>[subroutine] The Runner must either end the run or shuffle all cards from the grip into the stack.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When the Runner encounters this ice, choose another rezzed piece of ice. For the remainder of this run, this ice gains the subtypes of the chosen ice and gains the subroutines of that ice in order before its other subroutines.<span class="break"></span>[subroutine] End the run unless the Runner shuffles all cards from the grip into the stack.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When the Runner encounters this ice, choose another rezzed piece of ice. For the remainder of this run, this ice gains the subtypes of the chosen ice and gains the subroutines of that ice in order before </span><del>all </del><span>its other subroutines.<span class="break"></span>[subroutine] </span><del>T</del><ins>End t</ins><span>he </span><del>R</del><ins>r</ins><span>un</span><del>ner must either end the run o</del><ins> unless the Runne</ins><span>r shuffle</span><ins>s</ins><span> all cards from the grip into the stack.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Mad Dash</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Make a run. When this run ends, add Mad Dash to your score area as an agenda worth 1 agenda point if you stole at least 1 agenda during the run; otherwise, suffer 1 meat damage.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Run any server. When that run ends, if you stole an agenda during that run, add this event to your score area as an agenda worth 1 agenda point. Otherwise, suffer 1 meat damage.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Make a run</del><ins>Run any server</ins><span>. When th</span><del>is</del><ins>at</ins><span> run ends, </span><del>add Mad Dash</del><ins>if you stole an agenda during that run, add this event</ins><span> to your score area as an agenda worth 1 agenda point</span><del> if you stole at least 1 agenda during the run; o</del><ins>. O</ins><span>therwise, suffer 1 meat damage.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Marker</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>[subroutine] The next piece of ice the Runner encounters gains "[subroutine] End the run." after all its other subroutines for the remainder of this run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>[subroutine] The next piece of ice the Runner encounters during this run gains "[subroutine] End the run." after its other subroutines for the remainder of that run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>[subroutine] The next piece of ice the Runner encounters </span><ins>during this run </ins><span>gains "[subroutine] End the run." after </span><del>all </del><span>its other subroutines for the remainder of th</span><del>is</del><ins>at</ins><span> run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Masvingo</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Masvingo can be advanced.<span class="break"></span>When you rez Masvingo, place 1 advancement token on it.<span class="break"></span>Masvingo gains "[subroutine] End the run." for each advancement token on it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can advance this ice.<span class="break"></span>When you rez this ice, place 1 advancement counter on it.<span class="break"></span>This ice gains "[subroutine] End the run." for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Masvingo</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d</del><ins> this ice</ins><span>.<span class="break"></span>When you rez </span><del>Masvingo</del><ins>this ice</ins><span>, place 1 advancement </span><del>token</del><ins>counter</ins><span> on it.<span class="break"></span></span><del>Masvingo</del><ins>This ice</ins><span> gains "[subroutine] End the run." for each </span><ins>hosted </ins><span>advancement </span><del>token on it</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Merlin</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When the Runner encounters Merlin, you may reveal up to 2 <strong>grail</strong> ice from HQ. For the remainder of this run, Merlin gains the subroutines of the revealed ice in the order of your choice.<span class="break"></span>[subroutine] Do 2 net damage.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When the Runner encounters this ice, you may reveal up to 2 pieces of <strong>grail</strong> ice in HQ. For the remainder of this run, this ice gains the subroutines of each revealed piece of ice in the order of your choice.<span class="break"></span>[subroutine] Do 2 net damage.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When the Runner encounters </span><del>Merlin</del><ins>this ice</ins><span>, you may reveal up to 2 </span><ins>pieces of </ins><span>grail ice </span><del>from</del><ins>in</ins><span> HQ. For the remainder of this run, </span><del>Merlin</del><ins>this ice</ins><span> gains the subroutines of </span><del>the</del><ins>each</ins><span> revealed </span><ins>piece of </ins><span>ice in the order of your choice.<span class="break"></span>[subroutine] Do 2 net damage.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Mining Accident</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Play only if you made a successful run on a central server this turn.<span class="break"></span>The Corp must pay 5[credit] or take 1 bad publicity. Remove Mining Accident from the game instead of trashing it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Play only if you made a successful run on a central server this turn.<span class="break"></span>Give the Corp 1 bad publicity unless they pay 5[credit].<span class="break"></span>Remove this event from the game.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Play only if you made a successful run on a central server this turn.<span class="break"></span></span><del>T</del><ins>Give t</ins><span>he Corp </span><del>must pay 5[credit] or take 1 bad publicity. Remove Mining Accident from the game instead of trashing it</del><ins>1 bad publicity unless they pay 5[credit].<span class="break"></span>Remove this event from the game</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Möbius</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Make a run on R&D. If successful, you may make another run on R&D when this run ends. If the second run is successful, gain 4[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Run R&D. If successful, when that run ends, you may run R&D again. If the second run is successful, gain 4[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Make a run o</del><ins>Ru</ins><span>n R&amp;D. If successful, </span><del>you may make another run on R&amp;D when this run ends</del><ins>when that run ends, you may run R&amp;D again</ins><span>. If the second run is successful, gain 4[credit].</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Mu Safecracker</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Use this hardware only by spending credits from <strong>stealth</strong> cards.<span class="break"></span>Whenever you make a successful run on HQ, you may pay 1[credit] to access 1 additional card when you breach HQ.<span class="break"></span>Whenever you make a successful run on R&D, you may pay 2[credit] to access 1 additional card when you breach R&D.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Spend credits only from <strong>stealth</strong> cards to use this hardware.<span class="break"></span>Whenever you make a successful run on HQ, you may pay 1[credit] to access 1 additional card when you breach HQ.<span class="break"></span>Whenever you make a successful run on R&D, you may pay 2[credit] to access 1 additional card when you breach R&D.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Use this hardware only by s</del><ins>S</ins><span>pend</span><del>ing</del><span> credits </span><ins>only </ins><span>from stealth cards</span><ins> to use this hardware</ins><span>.<span class="break"></span>Whenever you make a successful run on HQ, you may pay 1[credit] to access 1 additional card when you breach HQ.<span class="break"></span>Whenever you make a successful run on R&amp;D, you may pay 2[credit] to access 1 additional card when you breach R&amp;D.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Muckraker</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Muckraker, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[2]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[3]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] End the run if the Runner is tagged.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[2]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[3]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] End the run if the Runner is tagged.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Muckraker</del><ins>this ice</ins><span>, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[2]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] Trace[3]. If successful, give the Runner 1 tag.<span class="break"></span>[subroutine] End the run if the Runner is tagged.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>NAPD Contract</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>The advancement requirement of NAPD Contract is increased by 1 for each bad publicity the Corp has.<span class="break"></span>As an additional cost to steal NAPD Contract, the Runner must pay 4[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This agenda gets +1 advancement requirement for each bad publicity you have.<span class="break"></span>As an additional cost to steal this agenda, the Runner must pay 4[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Th</span><del>e</del><ins>is agenda gets +1</ins><span> advancement requirement </span><del>of NAPD Contract is increased by 1 </del><span>for each bad publicity </span><del>the Corp</del><ins>you</ins><span> ha</span><del>s</del><ins>ve</ins><span>.<span class="break"></span>As an additional cost to steal </span><del>NAPD Contract</del><ins>this agenda</ins><span>, the Runner must pay 4[credit].</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Net Mercur</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>The first time you spend at least 1[credit] from a <strong>stealth</strong> card each run, place 1[credit] on Net Mercur or draw 1 card.<span class="break"></span>Use credits on Net Mercur for anything.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>The first time you spend credits from a <strong>stealth</strong> card during each run, place 1[credit] on this resource or draw 1 card.<span class="break"></span>You can spend hosted credits for anything.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>The first time you spend </span><del>at least 1[</del><span>credit</span><del>]</del><ins>s</ins><span> from a stealth card </span><ins>during </ins><span>each run, place 1[credit] on </span><del>Net Mercur</del><ins>this resource</ins><span> or draw 1 card.<span class="break"></span></span><del>Use credits on Net Mercur</del><ins>You can spend hosted credits</ins><span> for anything.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>News Hound</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>If a <strong>current</strong> is active, News Hound gains "[subroutine] End the run." after all its other subroutines.<span class="break"></span>[subroutine] Trace[3]. If successful, give the Runner 1 tag.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>[subroutine] Trace[3]. If successful, give the Runner 1 tag.<span class="break"></span>If a <strong>current</strong> is active, this ice gains "[subroutine] End the run." after its other subroutines.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><ins>[subroutine] Trace[3]. If successful, give the Runner 1 tag.<span class="break"></span></ins><span>If a current is active, </span><del>News Hound</del><ins>this ice</ins><span> gains "[subroutine] End the run." after </span><del>all </del><span>its other subroutines.</span><del><span class="break"></span>[subroutine] Trace[3]. If successful, give the Runner 1 tag.</del></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>NEXT Silver</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>NEXT Silver gains "[subroutine] End the run." for each rezzed piece of <strong>NEXT</strong> ice.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This ice gains "[subroutine] End the run." for each rezzed piece of <strong>NEXT</strong> ice.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>NEXT Silver</del><ins>This ice</ins><span> gains "[subroutine] End the run." for each rezzed piece of NEXT ice.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Penrose</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>barrier</strong> subroutine. Use this ability only if this program was installed this turn.<span class="break"></span>Interface → <strong>1[credit]:</strong> Break 1 <strong>code gate</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +3 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>barrier</strong> subroutine. Use this ability only if this program was installed this turn.<span class="break"></span>Interface → <strong>1[credit]:</strong> Break 1 <strong>code gate</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +3 strength. Spend credits only from <strong>stealth</strong> cards to use this ability.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Interface → 1[credit]: Break 1 barrier subroutine. Use this ability only if this program was installed this turn.<span class="break"></span>Interface → 1[credit]: Break 1 code gate subroutine.<span class="break"></span>1[credit]: +3 strength. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Posted Bounty</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Posted Bounty, you may forfeit it to give the Runner 1 tag and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, you may forfeit it. If you do, give the Runner 1 tag and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Posted Bounty</del><ins>this agenda</ins><span>, you may forfeit it</span><del> to</del><ins>. If you do,</ins><span> give the Runner 1 tag and take 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Profiteering</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Profiteering, take up to 3 bad publicity. Gain 5[credit] for each bad publicity taken.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, take up to 3 bad publicity. Gain 5[credit] for each bad publicity taken this way.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Profiteering</del><ins>this agenda</ins><span>, take up to 3 bad publicity. Gain 5[credit] for each bad publicity taken</span><ins> this way</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Project Wotan</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score this agenda, place 3 agenda counters on it.<span class="break"></span><strong>Hosted agenda counter:</strong> The rezzed piece of <strong>bioroid</strong> ice the Runner is approaching gains "[subroutine] End the run." after all its other subroutines for the remainder of this run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, place 3 agenda counters on it.<span class="break"></span><strong>Hosted agenda counter:</strong> The rezzed piece of <strong>bioroid</strong> ice the Runner is approaching gains "[subroutine] End the run." after its other subroutines for the remainder of this run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score this agenda, place 3 agenda counters on it.<span class="break"></span>Hosted agenda counter: The rezzed piece of bioroid ice the Runner is approaching gains "[subroutine] End the run." after </span><del>all </del><span>its other subroutines for the remainder of this run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Reality Threedee</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Reality Threedee, take 1 bad publicity.<span class="break"></span>When your turn begins, gain 1[credit] (or 2[credit] if the Runner is tagged).</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this asset, take 1 bad publicity.<span class="break"></span>When your turn begins, if the Runner is tagged, gain 2[credit]. Otherwise, gain 1[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Reality Threedee</del><ins>this asset</ins><span>, take 1 bad publicity.<span class="break"></span>When your turn begins, </span><del>gain 1[credit] (or 2[credit] if the Runner is tagged)</del><ins>if the Runner is tagged, gain 2[credit]. Otherwise, gain 1[credit]</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Refractor</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>code gate</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +3 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break 1 <strong>code gate</strong> subroutine.<span class="break"></span><strong>1[credit]:</strong> +3 strength. Spend credits only from <strong>stealth</strong> cards to use this ability.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Interface → 1[credit]: Break 1 code gate subroutine.<span class="break"></span>1[credit]: +3 strength. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Regulatory Capture</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>For each bad publicity you have up to 4, this agenda gets -1 advancement requirement.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>For each bad publicity you have up to 4, this agenda gets −1 advancement requirement.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>For each bad publicity you have up to 4, this agenda gets </span><del>-</del><ins>−</ins><span>1 advancement requirement.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Restoring Face</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Trash one of your installed <strong>sysops</strong>, <strong>executives</strong>, or <strong>clones</strong>. If you do, remove up to 2 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Reveal and trash 1 of your installed <strong>sysop</strong>, <strong>executive</strong>, or <strong>clone</strong> cards. If you do, remove up to 2 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>T</del><ins>Reveal and t</ins><span>rash </span><del>one</del><ins>1</ins><span> of your installed sysop</span><del>s</del><span>, executive</span><del>s</del><span>, or clone</span><ins> card</ins><span>s. If you do, remove up to 2 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Rex Campaign</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Place 3 power counters on Rex Campaign when it is rezzed. When there are no power counters left on Rex Campaign, trash it and either remove 1 bad publicity or gain 5[credit].<span class="break"></span>When your turn begins, remove 1 power counter from Rex Campaign.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this asset, load 3 power counters onto it. When it is empty, trash it and either remove 1 bad publicity or gain 5[credit].<span class="break"></span>When your turn begins, remove 1 hosted power counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Place 3 power counters on Rex Campaign when it is rezzed. When there are no power counters left on Rex Campaign</del><ins>When you rez this asset, load 3 power counters onto it. When it is empty</ins><span>, trash it and either remove 1 bad publicity or gain 5[credit].<span class="break"></span>When your turn begins, remove 1 </span><ins>hosted </ins><span>power counter</span><del> from Rex Campaign</del><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Sacrifice</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>As an additional cost to play this operation, forfeit an agenda.<span class="break"></span>Remove 1 bad publicity per agenda point that the forfeited agenda was worth. Gain 1[credit] for each bad publicity removed.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>As an additional cost to play this operation, forfeit 1 agenda.<span class="break"></span>Remove X bad publicity. X is equal to the agenda point value of the forfeited agenda. Gain 1[credit] for each bad publicity removed this way.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>As an additional cost to play this operation, forfeit </span><del>an</del><ins>1</ins><span> agenda.<span class="break"></span>Remove </span><del>1</del><ins>X</ins><span> bad publicity</span><del> per</del><ins>. X is equal to the</ins><span> agenda point </span><del>that</del><ins>value of</ins><span> the forfeited agenda</span><del> was worth</del><span>. Gain 1[credit] for each bad publicity removed</span><ins> this way</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Salvage</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Salvage can be advanced only while rezzed and gains “[subroutine] Trace[2]. If successful, give the Runner 1 tag.” for each advancement token on it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can advance this ice if it is rezzed. It gains "[subroutine] Trace[2]. If successful, give the Runner 1 tag." for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Salvage</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d only while</del><ins> this ice if it is</ins><span> rezzed</span><del> and</del><ins>. It</ins><span> gains </span><del>“</del><ins>"</ins><span>[subroutine] Trace[2]. If successful, give the Runner 1 tag.</span><del>”</del><ins>"</ins><span> for each </span><ins>hosted </ins><span>advancement </span><del>token on it</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Sensei</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>[subroutine] For the remainder of this run, each piece of ice encountered except Sensei gains "[subroutine] End the run" after all its other subroutines.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>[subroutine] For the remainder of this run, while the Runner is encountering another piece of ice, it gains "[subroutine] End the run." after its other subroutines.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>[subroutine] For the remainder of this run, </span><del>each piece of ice encountered except Sensei</del><ins>while the Runner is encountering another piece of ice, it</ins><span> gains "[subroutine] End the run</span><ins>.</ins><span>" after </span><del>all </del><span>its other subroutines.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Shinobi</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Shinobi, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, do 1 net damage.<span class="break"></span>[subroutine] Trace[2]. If successful, do 2 net damage.<span class="break"></span>[subroutine] Trace[3]. If successful, do 3 net damage and end the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, do 1 net damage.<span class="break"></span>[subroutine] Trace[2]. If successful, do 2 net damage.<span class="break"></span>[subroutine] Trace[3]. If successful, do 3 net damage and end the run.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>S</del><ins>t</ins><span>hi</span><del>nobi</del><ins>s ice</ins><span>, take 1 bad publicity.<span class="break"></span>[subroutine] Trace[1]. If successful, do 1 net damage.<span class="break"></span>[subroutine] Trace[2]. If successful, do 2 net damage.<span class="break"></span>[subroutine] Trace[3]. If successful, do 3 net damage and end the run.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Sub Boost</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Install Sub Boost on a rezzed piece of ice as a hosted condition counter with the text "Host ice gains <strong>barrier</strong> and '[subroutine] End the run.' after all its other subroutines."</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Host this operation on a rezzed piece of ice as a condition counter with "Host ice gains <strong>barrier</strong> and gains '[subroutine] End the run.' after its other subroutines."</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Install Sub Boost</del><ins>Host this operation</ins><span> on a rezzed piece of ice as a </span><del>hosted </del><span>condition counter with </span><del>the text </del><span>"Host ice gains barrier and </span><ins>gains </ins><span>'[subroutine] End the run.' after </span><del>all </del><span>its other subroutines."</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Swarm</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you rez Swarm, take 1 bad publicity.<span class="break"></span>Swarm can be advanced and gains "[subroutine] Trash 1 program unless the Runner pays 3[credit]." for each advancement token on it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you rez this ice, take 1 bad publicity.<span class="break"></span>You can advance this ice. It gains "[subroutine] Trash 1 installed program unless the Runner pays 3[credit]." for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you rez </span><del>Swarm</del><ins>this ice</ins><span>, take 1 bad publicity.<span class="break"></span></span><del>Swarm</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d and</del><ins> this ice. It</ins><span> gains "[subroutine] Trash 1 </span><ins>installed </ins><span>program unless the Runner pays 3[credit]." for each </span><ins>hosted </ins><span>advancement </span><del>token on it</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Switchblade</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break any number of <strong>sentry</strong> subroutines. Use this ability only by spending a credit from a <strong>stealth</strong> card.<span class="break"></span><strong>1[credit]:</strong> +7 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Interface → <strong>1[credit]:</strong> Break any number of <strong>sentry</strong> subroutines. Spend credits only from <strong>stealth</strong> cards to use this ability.<span class="break"></span><strong>1[credit]:</strong> +7 strength. Spend credits only from <strong>stealth</strong> cards to use this ability.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Interface → 1[credit]: Break any number of sentry subroutines. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.<span class="break"></span>1[credit]: +7 strength. </span><del>Use this ability only by spending a</del><ins>Spend</ins><span> credit</span><ins>s only</ins><span> from </span><del>a </del><span>stealth card</span><ins>s to use this ability</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Tallie Perrault</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Whenever a <strong>gray ops</strong> or <strong>black ops</strong> operation is trashed after resolving, you may give the Corp 1 bad publicity and take 1 tag.<span class="break"></span>[trash]: Draw 1 card for each bad publicity the Corp has.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Whenever a <strong>gray ops</strong> or <strong>black ops</strong> operation is trashed after resolving, you may give the Corp 1 bad publicity and take 1 tag.<span class="break"></span>[trash]<strong>:</strong> Draw 1 card for each bad publicity the Corp has.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Whenever a gray ops or black ops operation is trashed after resolving, you may give the Corp 1 bad publicity and take 1 tag.<span class="break"></span>[trash]: Draw 1 card for each bad publicity the Corp has.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>The All-Seeing I</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Play only if the Runner is tagged.<span class="break"></span>Trash all resources. The Runner can remove 1 bad publicity to prevent this.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Play only if the Runner is tagged.<span class="break"></span>Trash all installed resources unless the Runner removes 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Play only if the Runner is tagged.<span class="break"></span>Trash all </span><del>resources. T</del><ins>installed resources unless t</ins><span>he Runner </span><del>can </del><span>remove</span><ins>s</ins><span> 1 bad publicity</span><del> to prevent this</del><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>The Archivist</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>+1[link]<span class="break"></span>Whenever the Corp scores an <strong>initiative</strong> or <strong>security</strong> agenda, force the Corp to "Trace[1]. If unsuccessful, take 1 bad publicity."</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>+1[link]<span class="break"></span>Whenever the Corp scores an <strong>initiative</strong> or <strong>security</strong> agenda, they must trace[1]. If unsuccessful, give them 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>+1[link]<span class="break"></span>Whenever the Corp scores an initiative or security agenda, </span><del>force the Corp to "T</del><ins>they must t</ins><span>race[1]. If unsuccessful, </span><del>take</del><ins>give them</ins><span> 1 bad publicity.</span><del>"</del></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>The Outfit: Family Owned and Operated</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Gain 3[credit] whenever you take at least 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Whenever you take 1 or more bad publicity, gain 3[credit].</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Gain 3[credit] w</del><ins>W</ins><span>henever you take </span><del>at least 1</del><ins>1 or more</ins><span> bad publicity</span><ins>, gain 3[credit]</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>TL;DR</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>[subroutine] When the Runner encounters the next piece of ice during this run, that ice gains a second copy of each subroutine on it (after the original subroutine) for the remainder of the encounter.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>[subroutine] The next time the Runner encounters a piece of ice during this run, that ice gains a second copy of each of its subroutines <em>(after the original subroutine)</em> for the remainder of that encounter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>[subroutine] </span><del>W</del><ins>T</ins><span>he</span><del>n</del><ins> next time</ins><span> the Runner encounters </span><del>the next</del><ins>a</ins><span> piece of ice during this run, that ice gains a second copy of each </span><ins>of its </ins><span>subroutine</span><del> on it</del><ins>s</ins><span> (after the original subroutine) for the remainder of th</span><del>e</del><ins>at</ins><span> encounter.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Too Big to Fail</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Play only if you have fewer than 10[credit].<span class="break"></span>Gain 7[credit] and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Play only if you have less than 10[credit].<span class="break"></span>Gain 7[credit] and take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Play only if you have </span><del>fewer</del><ins>less</ins><span> than 10[credit].<span class="break"></span>Gain 7[credit] and take 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Tour Guide</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Tour Guide gains "[subroutine] End the run." for each rezzed asset you have.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>This ice gains "[subroutine] End the run." for each rezzed asset.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>T</span><del>our Guid</del><ins>his ic</ins><span>e gains "[subroutine] End the run." for each rezzed asset</span><del> you have</del><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Tyrant</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Tyrant can be advanced only while rezzed and gains "[subroutine] End the run." for each advancement token on it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can advance this ice if it is rezzed. It gains "[subroutine] End the run." for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Tyrant</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d only while</del><ins> this ice if it is</ins><span> rezzed</span><del> and</del><ins>. It</ins><span> gains "[subroutine] End the run." for each </span><ins>hosted </ins><span>advancement </span><del>token on it</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Veterans Program</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Veterans Program, you may remove up to 2 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, you may remove up to 2 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Veterans Program</del><ins>this agenda</ins><span>, you may remove up to 2 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Vulcan Coverup</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>When you score Vulcan Coverup, do 2 meat damage.<span class="break"></span>When the Runner steals Vulcan Coverup, take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>When you score this agenda, do 2 meat damage.<span class="break"></span>When the Runner steals this agenda, take 1 bad publicity.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>When you score </span><del>Vulcan Coverup</del><ins>this agenda</ins><span>, do 2 meat damage.<span class="break"></span>When the Runner steals </span><del>Vulcan Coverup</del><ins>this agenda</ins><span>, take 1 bad publicity.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Warden Fatuma</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Each piece of rezzed <strong>bioroid</strong> ice gains "[subroutine] The Runner loses [click], if able." before all of its other subroutines.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>Each rezzed piece of <strong>bioroid</strong> ice gains "[subroutine] The Runner loses [click]." before its other subroutines.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><span>Each </span><ins>rezzed </ins><span>piece of </span><del>rezzed </del><span>bioroid ice gains "[subroutine] The Runner loses [click]</span><del>, if able</del><span>." before </span><del>all of </del><span>its other subroutines.</span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
        <h2>Woodcutter</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
        <h3>Previous Text</h3>
        <p>Woodcutter can be advanced only while rezzed and gains "[subroutine] Do 1 net damage." for each advancement token on it.</p>
        </div>
        <div class="col-sm-4">
        <h3>New Text</h3>
        <p>You can advance this ice if it is rezzed. It gains "[subroutine] Do 1 net damage." for each hosted advancement counter.</p>
        </div>
        <div class="col-sm-4">
        <h3>Diff</h3>
        <p><del>Woodcutter</del><ins>You</ins><span> can </span><del>be </del><span>advance</span><del>d only while</del><ins> this ice if it is</ins><span> rezzed</span><del> and</del><ins>. It</ins><span> gains "[subroutine] Do 1 net damage." for each </span><ins>hosted </ins><span>advancement </span><del>token on it</del><ins>counter</ins><span>.</span></p>
        </div>
    </div>

